version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: mindStack_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - mindstack_network       # ← LÍNEA AGREGADA

volumes:
  postgres_data:

networks:                       # ← BLOQUE AGREGADO
  mindstack_network:
    name: mindstack_network     # nombre fijo para que el backend lo encuentre
    driver: bridge